dialog {
  color: white;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 2rem;
  width: 25rem;
  margin: auto;
  position: fixed;
  /* left: 40%;
  top: 25%; */
  z-index: 999;
  /* transform: translate(-25%, -25%); */
  border: none;
  border-radius: 1.5rem;
  background-color: rgb(81, 64, 89);
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.565);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 800;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.322);
}
dialog::backdrop {
  background-color: rgb(0, 0, 0);
}
button {
  font-size: 1.7rem;
  font-weight: 600;
}
