/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../public/ooorganize.svg);
  background-color: rgb(29, 27, 30);
}

html {
  font-size: 62.5%;
}

.modal-content {
  background-color: rgb(55, 43, 60);
  color: white;
  border-radius: 1.2rem;
  border: none;
}

.modal-header {
  border-bottom: 0.1rem solid #000000;
}

.modal-footer {
  border-top: 0.1rem solid #000000;
}

.modal-title {
  font-weight: 600;
}

.modal-backdrop.show {
  opacity: 0.2;
  background-color: rgba(0, 0, 0, 0.9);
}
